header{
  align-items: center; 
  background:var(--primary);
  display:flex;
  padding:25px 15% 35px;
  background-color: crimson;
  color: aliceblue;
}

header article,
header nav{
  width:50%;
}

header h1{
  height:auto;
  margin: 0;
  font-size:36px;
}

header h1 span{
  font-weight:300;
}
header h1 a{
  color:var(--light);
  text-decoration:none ;
}
header ul{
  list-style: none;
  padding:0;
}

header ul li{
  display: var(--primary-font);
  font-size: 18px;
  padding:0 25px;
}

header ul li a{
  color:var(--light);
  border-bottom:2px solid var(--light);
  font: weight 500px;
  padding: bottom 5px;
  text-decoration:none;
}

header ul li a:hover{
  color: var(--dark);
  border-bottom: 2px solid var(--dark);
}
.search-button{
  margin-top: 70px;
  margin-left: 370px;
  margin-bottom: 70px;
  
}
 .details{
  /* width:10px;
  height:900px;
  /* background-color: rgb(247, 190, 190); */
  /* border-radius: 5px; */ 
  } 
 .submit{
  height:33px;
  border-radius:5px ;
  width:96px;
  background-color: rgb(247, 190, 190);

 }
 .submit:hover{
    background-color: rgb(209, 233, 130);
 }
 .home:hover{
    background-color: rgb(192, 207, 188);
   
 }
 .home{
  font-size: 25px;

 }
 .about{
  font-size: 25px;
  
 }
 .about:hover{
  background-color: rgb(192, 207, 188);
 }
 .error{
  background-color: rgb(218, 225, 224);
  height:35px;
  width:35px;
  font-size: 35px;
 }
 footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
 
 }
 footer:hover{
  color:crimson;
 }

 