@import url('https://fonts.googleapis.com/css2?family=Caramel&family=Inter:wght@400;600;700&family=Montserrat&family=Nunito:wght@600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:wght@400;700&display=swap');

*{
  box-sizing: 0;
  font-family: "Poppins";
}
ul{
  list-style: none;
  align-items: center;
  justify-content: center;
}

img{
  border-bottom: 10px;
}
a{
  border-top: 10px;
  
}
.member-image {
  position:relative;
  position:150px;
  height:150px;
  width: 150px;
  border-radius: 50%;
  background-color: #fff;
  padding:3px}
  
/* .member-image{
  height:100%;
  width:100%;
  object-fit: cover;
} */
.card-img{
  height:100%;
  width:100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}
body {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display:flex;
  background-color: rgb(250, 250, 243);
 
} 
/* .members{} */
/* /* background: rgb(134,45,174);
background: linear-gradient(90deg, rgba(134,45,174,1) 0%, rgba(145,41,159,1) 0%, rgba(207,181,223,0) 0%, rgba(237,7,153,0.47805059523809523) 20%);
} */

.details {
  height:40%;
  width:60%;
  font-size: 14px;
  color:#707070;
  text-align: center;
  /* border-style: double; */
 }
 .project{
  height:40%;
  width:60%;
 }
 ul{
  display:grid;
  grid-template-columns: repeat(3,30%);
 }
 li.mem{
  border-style: double;
  margin-right: 15px;
  border-radius: 15px;
  color: #4070f4;
  background-color: #fff;
  width:320px
 }

 img.card-img{
  place-items: center;
 }
 .name,li.mem{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px
 }
 .name{
  position:relative;
  row-gap:5px;
  
 }
 .member-name{
  font-size: 18px;
  font-weight: 500;
  color:#333
 }
 button{
  border:none;
  font-size:16px;
  color:#fff;
  padding:8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin:14px;
  cursor:pointer;
  transition:all 0.3s ease
 }

 .button:hover{
  background:#265df2
 }
 .overlay{
  position:absolute;
  left:0;
  top:0;
  height:110%;
  width:110%;
  background-color: #4070f4;
  border-radius:25px 25px 0 25px

 }
 .project{
  font-size: 18px;
  font-weight: 500;
  color:#333
 }
 .project-heading{
  color:#4070f4;
  font-size: 28px;
  font-weight: 500;
}